* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  border: 1px solid red;
  aspect-ratio: 1;
  width: 962px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid rgb(245,245,245);
  aspect-ratio: 1;
  width: 60px;
}

.position {
  display: flex;
  justify-content: space-evenly;
}